img{
    width: 3rem;
    border-radius: 50%;
}
#imgPrin{
    border-radius: 50%
}
h1, h2, h3, h4, h5{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.nav-link{
	cursor: pointer;
}

#cont1, #cont2, #cont3{
    background: white;
    display: flex;
    margin: auto;
    width: 50%;
    height: 8rem;
    padding: 2rem;
    
}

#botones{
    background:#564585; 
    color: white;
    text-decoration: none;
    align-content: center;
    width: 100%;
    text-align: center;
    box-shadow: 0rem 0.1rem 0rem 0rem black;

    
}

#a,#b{
    text-decoration: none;
    color: white;
    font-family: "Verdana";
    align-content: center;
    border: 0px 0px 5px 0px;   
}
#a:hover, #b:hover{
    text-decoration: none;
    color:white;
} 

#b{
position: absolute;
bottom: 34%;
left: 85%;
font-size: 1.2vw;
font-family: "Verdana";
}

#bienvenido{
    background: black;
    color: white;
    text-decoration: none;
    margin: 1rem;
    height: 4rem;
}

.conteiner-fluid .row{
    background: white;
    margin: auto;
    width: 100%;
}
