body {
  font-family: Arial;
}

/* #mapid {
  background: #CCC;
  position: absolute;

  top: 10px;
  bottom: 0px;
  left: 0;

  width: 40%;
} */

/* #mapid {
    position: absolute;
  height: 200px;
} */


#map-container {
  position: relative;
  height: 40vw ;
  width: 50vw;
}

#mapid {
  position: relative;
  height: inherit;
  width: inherit;
}
#states {
  margin: 15px 15px;
}
#statesMSJ{
  margin: 15px 60px;
}
/* #right {
  position: absolute;

  top: 0px;
  right: 0px;
  bottom: 0px;

  width: 25%;
} */

/* #states {
  margin: 7px 15px;
}

ul {
  
} */