body {

  font-family: Courier, "Arial", monospace
}

#mapid {
  background: #CCC;
  /* display: inline-block;*/

  /*width: 500px;*/
  /*height: 500px;*/

  position: absolute;
  border: 1px solid #AAA;

  top: 110;
  right: 350;
  bottom: 0;
  left: 0;

  margin: 7px;

}
