h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
#imagenLogo{
    border-radius: 50%;
}
#cont{
    background: pink;
    height: 40px;
    width: 1px;

}
.back, .back:hover{
    color: white;
    font-family: "Verdana";
    position: relative;
    left: 63rem;
}